body{
  margin:0;
  background:radial-gradient(circle,#222,#000 70%);
  color:#ffd86b;
  font-family:system-ui;
}
.app{max-width:420px;margin:auto;padding:20px;text-align:center}
.logo{
  font-size:40px;
  color:gold;
  text-shadow:0 0 30px gold;
  margin-bottom:10px
}
.info{display:flex;justify-content:space-between;font-size:14px}

.dice{
  display:flex;
  justify-content:center;
  gap:15px;
  margin:20px 0
}
.dice img{
  width:70px;
  height:70px;
  background:#111;
  border-radius:14px;
  border:2px solid gold;
  box-shadow:0 0 20px gold;
  animation:shake .4s
}
@keyframes shake{
  0%{transform:rotate(0)}
  25%{transform:rotate(10deg)}
  50%{transform:rotate(-10deg)}
  100%{transform:rotate(0)}
}

.history{
  display:flex;
  justify-content:center;
  gap:6px;
  margin-bottom:15px
}
.history span{
  width:22px;
  height:22px;
  border-radius:50%;
  background:#444
}
.history .tai{background:gold}
.history .xiu{background:orange}

input{
  width:100%;
  padding:14px;
  border-radius:14px;
  border:none;
  background:#111;
  color:gold;
  font-size:18px;
  text-align:center
}
.actions{display:flex;gap:20px;margin-top:15px}
.btn{
  flex:1;
  padding:16px;
  border-radius:40px;
  font-size:20px;
  font-weight:bold;
  border:none
}
.tai{background:linear-gradient(gold,#ffb700)}
.xiu{background:linear-gradient(orange,#ff8800)}
